* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color: #24252a;
}


 a, button {
    color:white!important;
    text-decoration: none!important;
  }

.header {
    padding: 20px;
    text-align: center;
    background-color:black;
    color: white;
    font-size: 50px;
    margin-top:-20px;
    background-position:bottom center;
    
  }
  h1 {
    background-color:transparent;
  }
  .nav1 {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    list-style:none;
  }
  .nav1 li {
    display:inline-block;
    padding:0px 20px;
  }
  .nav1 li a{
    display:inline-block;
    padding:0px 20px;
    transition:all 0.2s ease 0s;
  }
  .nav1 li a:hover{
    color:rgb(104, 104, 255)!important;
  }
  .button1 {
 padding: 9px 25px!important;
 background-color:rgba(0,140,170,1);
 border:none;
 border-radius:50px;
 transition:all 0.2s ease 0s;

  }
  button {
    background-color:transparent;
    border-color:transparent;
    cursor:pointer;
  }
  .button1:hover{
    background-color:rgba(0,140,170,0.5);
  }
 section {
  background-image: url("running.jpg");
  background-repeat:no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height:1000px;
  background-color:grey;
  opacity:0.8;
 }
  footer {
    background-color:black;
    width:100%;
    height:100px;
  }
